In [1]:
import pandas as pd
import os
import quandl
import time

quandl.ApiConfig.api_key = "Xp_9Y4WNUA3V7Vb2vVQ6"

In [2]:
data = quandl.get("EOD/AAPL")

In [3]:
data

,Open,High,Low,Close,Volume,Dividend,Split,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume
Date,,,,,,,,,,,,
2013-09-03,493.10,500.600,487.350,488.580,11854600.0,0.0,1.0,15.596272,15.833489,15.414405,15.453308,331928800.0
2013-09-04,499.56,502.240,496.280,498.691,12322600.0,0.0,1.0,15.800595,15.885361,15.696852,15.773109,345032800.0
2013-09-05,500.25,500.680,493.640,495.270,8441700.0,0.0,1.0,15.822419,15.836020,15.613351,15.664906,236367600.0
2013-09-06,498.44,499.380,489.950,498.220,12840200.0,0.0,1.0,15.765170,15.794902,15.496640,15.758212,359525600.0
2013-09-09,505.00,507.920,503.480,506.170,12167400.0,0.0,1.0,15.972657,16.065014,15.924581,16.009663,340687200.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2017-12-21,174.17,176.020,174.100,175.010,20949896.0,0.0,1.0,41.836857,42.281240,41.820043,42.038631,83799584.0
2017-12-22,174.68,175.424,174.500,175.010,16349444.0,0.0,1.0,41.959363,42.138077,41.916125,42.038631,65397776.0
2017-12-26,170.80,171.470,169.679,170.570,33185536.0,0.0,1.0,41.027359,41.188298,40.758087,40.972112,132742144.0
2017-12-27,170.10,170.780,169.710,170.600,21498213.0,0.0,1.0,40.859214,41.022555,40.765534,40.979318,85992852.0
2017-12-28,171.00,171.850,170.480,171.080,16480187.0,0.0,1.0,41.075401,41.279577,40.950493,41.094617,65920748.0

In [4]:
data['HL_PCT'] = ((data['Adj_High'] - data['Adj_Low'])/ data['Adj_Close']) * 100
data['PCT_change'] = ((data['Adj_Close'] - data['Adj_Open'])/ data['Adj_Open']) * 100

In [5]:
data

,Open,High,Low,Close,Volume,Dividend,Split,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume,HL_PCT,PCT_change
Date,,,,,,,,,,,,,,
2013-09-03,493.10,500.600,487.350,488.580,11854600.0,0.0,1.0,15.596272,15.833489,15.414405,15.453308,331928800.0,2.711941,-0.916650
2013-09-04,499.56,502.240,496.280,498.691,12322600.0,0.0,1.0,15.800595,15.885361,15.696852,15.773109,345032800.0,1.195129,-0.173953
2013-09-05,500.25,500.680,493.640,495.270,8441700.0,0.0,1.0,15.822419,15.836020,15.613351,15.664906,236367600.0,1.421447,-0.995502
2013-09-06,498.44,499.380,489.950,498.220,12840200.0,0.0,1.0,15.765170,15.794902,15.496640,15.758212,359525600.0,1.892738,-0.044138
2013-09-09,505.00,507.920,503.480,506.170,12167400.0,0.0,1.0,15.972657,16.065014,15.924581,16.009663,340687200.0,0.877176,0.231683
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-12-21,174.17,176.020,174.100,175.010,20949896.0,0.0,1.0,41.836857,42.281240,41.820043,42.038631,83799584.0,1.097080,0.482287
2017-12-22,174.68,175.424,174.500,175.010,16349444.0,0.0,1.0,41.959363,42.138077,41.916125,42.038631,65397776.0,0.527970,0.188917
2017-12-26,170.80,171.470,169.679,170.570,33185536.0,0.0,1.0,41.027359,41.188298,40.758087,40.972112,132742144.0,1.050009,-0.134660
2017-12-27,170.10,170.780,169.710,170.600,21498213.0,0.0,1.0,40.859214,41.022555,40.765534,40.979318,85992852.0,0.627198,0.293945
2017-12-28,171.00,171.850,170.480,171.080,16480187.0,0.0,1.0,41.075401,41.279577,40.950493,41.094617,65920748.0,0.800795,0.046784

In [6]:
new_data = data.iloc[:,10:]

In [7]:
new_data

            Adj_Close   Adj_Volume    HL_PCT  PCT_change
Date
2013-09-03  15.453308  331928800.0  2.711941   -0.916650
2013-09-04  15.773109  345032800.0  1.195129   -0.173953
2013-09-05  15.664906  236367600.0  1.421447   -0.995502
2013-09-06  15.758212  359525600.0  1.892738   -0.044138
2013-09-09  16.009663  340687200.0  0.877176    0.231683
...               ...          ...       ...         ...
2017-12-21  42.038631   83799584.0  1.097080    0.482287
2017-12-22  42.038631   65397776.0  0.527970    0.188917
2017-12-26  40.972112  132742144.0  1.050009   -0.134660
2017-12-27  40.979318   85992852.0  0.627198    0.293945
2017-12-28  41.094617   65920748.0  0.800795    0.046784

[1090 rows x 4 columns]

### Checking for null values in the dataset

In [8]:
new_data.isna().sum()

Adj_Close     0
Adj_Volume    0
HL_PCT        0
PCT_change    0
dtype: int64

This shows there are no null values present in the dataset

Making a target column named prediction that will contain stock prices in futire after days

In [9]:
# Number of days after which we need prices (here 10)
skip_days = 10

In [10]:
new_data['Prediction'] = new_data[['Adj_Close']].shift(-skip_days)

In [11]:
new_data

            Adj_Close   Adj_Volume    HL_PCT  PCT_change  Prediction
Date
2013-09-03  15.453308  331928800.0  2.711941   -0.916650   14.401327
2013-09-04  15.773109  345032800.0  1.195129   -0.173953   14.697375
2013-09-05  15.664906  236367600.0  1.421447   -0.995502   14.938388
2013-09-06  15.758212  359525600.0  1.892738   -0.044138   14.783722
2013-09-09  16.009663  340687200.0  0.877176    0.231683   15.518464
...               ...          ...       ...         ...         ...
2017-12-21  42.038631   83799584.0  1.097080    0.482287         NaN
2017-12-22  42.038631   65397776.0  0.527970    0.188917         NaN
2017-12-26  40.972112  132742144.0  1.050009   -0.134660         NaN
2017-12-27  40.979318   85992852.0  0.627198    0.293945         NaN
2017-12-28  41.094617   65920748.0  0.800795    0.046784         NaN

[1090 rows x 5 columns]

For ten rows at the last predictions will not be there, so we get NaN values hence we will drop those rows

In [12]:
new_data.dropna(inplace=True)

### Dividing the data into dependent and independent set

In [13]:
X = new_data.iloc[:,:4]
y = new_data.iloc[:, -1]

print(X.shape,y.shape)

(1080, 4) (1080,)

### Data Preprocessing

In [14]:
import numpy as np

In [15]:
### Normalization of the features
u = np.mean(X)
std = np.std(X)

X = (X - u)/std

### Splitting data for training and validation

In [16]:
from sklearn.model_selection import train_test_split

In [29]:
X_train,X_val,Y_train,Y_val = train_test_split(X,y,test_size=0.2,random_state=42)

### Creating the Linear Regression Model

In [30]:
from sklearn.linear_model import LinearRegression

In [31]:
lr = LinearRegression()

In [32]:
lr.fit(X_train,Y_train)

LinearRegression()

### Testing the performane of the model by returning the R2 score

In [33]:
print("Training score of our model is: ", lr.score(X_train,Y_train)*100)
print("Validation score of our model is: ", lr.score(X_val,Y_val)*100)

Training score of our model is:  96.80408410681234
Validation score of our model is:  97.3498552215256

In [37]:
from sklearn.metrics import r2_score
score = r2_score(prediction,Y_val)
print("R2 score of our model is: ", round(score*100,2))

R2 score of our model is:  97.13

### Calculating MSE

In [35]:
prediction = lr.predict(X_val)

In [36]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(Y_val,prediction)
print(mse)

1.2371561355237783